<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466292229330-m71gsicil1ds4llg0cflo6c5edscgio8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466292229330-m71gsicil1ds4llg0cflo6c5edscgio8</string>
	<key>API_KEY</key>
	<string>AIzaSyCJA6vJVXqXIwu_lZBPtG5gJcEBcpRy_p0</string>
	<key>GCM_SENDER_ID</key>
	<string>466292229330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.mobile.pushnotificationdemo</string>
	<key>PROJECT_ID</key>
	<string>yfpn-ac2b2</string>
	<key>STORAGE_BUCKET</key>
	<string>yfpn-ac2b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466292229330:ios:23018a942db1aed36f190b</string>
</dict>
</plist>